@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.container {
  padding: 16px;
  position: relative;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #0b0b0b;
  text-shadow: 2px 2px 6px #5c1a1a33;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInSlide 0.9s forwards;
}
@keyframes fadeInSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.filterTitle {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 900;
  color: #5c1a1a;
  text-align: center;
}

.seasonFilterWrapper {
  display: flex;
  flex-direction: column; 
  gap: 12px;               
  margin-bottom: 16px;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 24px;
  margin-top: 16px;
  margin-bottom: 60px;
  justify-items: center;
}

@media (max-width: 1200px) {
  .cardsWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cardsWrapper {
    grid-template-columns: 1fr;
  }
}


.sidebarToggle {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  width: 120px;
  height: 40px;
  margin-bottom: 30px;
  margin-left: 55px;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: -16px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -500px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebarOpen {
  right: 0;
}

.closeSidebar {
  align-self: flex-end;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.filterWrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filterButton {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: larger;
}

.filterButton.active {
  font-weight: 700;
}

.colorFilterWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colorCircle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.colorCircle.activeColor {
  border: 2px solid #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
@media (max-width: 900px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .cardsWrapper {
    grid-template-columns: 1fr; 
  }
}